.unselectable {
    pointer-events: none;
    user-select: none;
}

img {
    display: inline;
    height: 200px;
    width: 200px;
    position: absolute;
}

.time {
    border-radius: 50%;
    background-color: none;
    width: 200px;
    height: 200px;
    display: inline;
    position: absolute;
    left: 100px;
    top: 100px;
}

.hand {
    width: 4%;
    transform-origin: 50% 100%;
    left: 48%;
    position: absolute;
    display: inline-block;
    cursor: pointer;
}

.hour-hand {
    background-color: #ffe959ff;
    height: 70px;
    top: 15%;
    z-index: 2;
}

.minute-hand {
    background-color: black;
    height: 90px;
    top: 5%;
    z-index: 1;
}